# networks:
#   default:
#     name: py-app
#     driver: bridge

services:
  server:
    container_name: server
    build: 
      dockerfile: server/Dockerfile
    environment:
      OTEL_SERVICE_NAME: "py-endpoint-simulator-server"
      OTEL_RESOURCE_ATTRIBUTES: deployment.environment=cf-lab,service.version=1
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://collector:4317"      
      SPLUNK_AUTOMATIC_LOG_COLLECTION: "true"
      OTEL_METRIC_EXPORT_INTERVAL: "10000"
      # OTEL_LOG_LEVEL: "verbose"
      SPLUNK_METRICS_ENABLED: true // enabled via app code
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "python3", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8080/health').read()"]
      interval: 5s
      timeout: 1s
      retries: 3
      start_period: 5s
      start_interval: 5s
  client:
    container_name: client
    build:
      dockerfile: client/Dockerfile
    depends_on:
      server:
        condition: service_healthy
      
    environment:
      OTEL_SERVICE_NAME: "py-endpoint-simulator-client"
      OTEL_RESOURCE_ATTRIBUTES: deployment.environment=cf-lab,service.version=1
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://collector:4317"      
      SPLUNK_AUTOMATIC_LOG_COLLECTION: "true"
      OTEL_METRIC_EXPORT_INTERVAL: "10000"
      # OTEL_LOG_LEVEL: "verbose"
      SPLUNK_METRICS_ENABLED: true // enabled via app code      
    # ports:
    #   - "8080:8080"      
  collector:
    image: quay.io/signalfx/splunk-otel-collector:0.134.0
    container_name: collector
    command: [ "--config=/etc/otel-collector-config.yml" ]
    volumes:
      - ./collector/otel-collector-config.yml:/etc/otel-collector-config.yml
    environment:
      SPLUNK_REALM: ${SPLUNK_REALM}
      SPLUNK_ACCESS_TOKEN: ${SPLUNK_ACCESS_TOKEN}
      SPLUNK_HEC_URL: ${SPLUNK_HEC_URL}
      SPLUNK_HEC_TOKEN: ${SPLUNK_HEC_TOKEN}
      SPLUNK_INGEST_URL: "https://ingest.eu2.signalfx.com"
      
